<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="赤道大猩猩----搞笑网站">
	<meta name="description" content="一个提供搞笑资源的 有趣的 网站.">
	<title>赤道大猩猩----搞笑网站</title>
	<link rel="stylesheet" href="./css/body.css" media="screen">
</head>
<body>
<header id="header">
	<div class="topwrap">
		<div class="logo">
			<div class="logowrap"><img src="./image/logo.png" width="151" height="71" alt="同城约会"></div>
			<div class="sublogowrap"><span class="sublogo">多多了解，慢慢相爱</span></div>
		</div>
		<div class="tipswrap">
			<div class="links">
			<div class="cmlinks">	
				<a href="http://yuehui.163.com/activities/reginvitepage.do">邀请好友有礼</a> | 
				<a href="http://yuehui.163.com/mobilewebsite.do">手机版</a> | 
				<a href="http://yuehui.163.com/app?from=pctop" target="_blank"><span class="icon24 icon24-iphone"></span>手机客户端</a>
				<span id="freemail" class=""> 退出</span>
				</div>
			</div>
		</div>
	</div>
	<!--导航-->
	<div class="nav1ext"></div>
	<div class="nav1wrap">
		<div class="js-nav1 nav nav1">
			<ul>
				<li class="current first"><a href="http://yuehui.163.com/">首页</a></li>
				<li class=""><a href="http://yuehui.163.com/myidate.do">我的同城约会</a></li>
				<li class=""><a href="http://yuehui.163.com/searchusers.do">找缘分</a></li>
				<li class=""><a href="http://yuehui.163.com/searchdate.do">约会广场</a></li>
				<li class=""><a href="http://yuehui.163.com/searchphoto.do">俊男美女<span class="icon-hot"></span></a></li>
				<li class=""><a href="http://yuehui.163.com/searchqa.do">恋爱真心话</a></li>
				<li class=" last"><a href="http://yuehui.163.com/emotion.do">情感空间</a></li>
			</ul>
		</div>
		<div class="shadow shadow-l"></div>
		<div class="shadow shadow-r"></div>
	</div>
	<div class="btmwrap">
		<div class="divider"></div>
	</div>
</header>
<div class="idximgwrap">
	<div class="bg"></div>
	<div class="paper idximgsec">
		<div class="slideshow">
			<div class="js-loginwrap loginwrap">
				<ul id="index-slideshowlist" style="height: 100%; width: 100%; overflow: hidden; position: relative; visibility: visible;"><li style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; z-index: 0; visibility: visible; opacity: 1;">
						<a href="http://yuehui.163.com/searchqa.do" target="_blank"><img src="http://photo.idate.163.com/album/images/cms/20130412/20130412095253366yvC.jpg" width="689" height="305" alt="真心话"></a>
					</li><li style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; z-index: 0; visibility: hidden; opacity: 0;">
						<a href="http://yuehui.163.com/activities/forecast.do?from=sy" target="_blank"><img src="http://photo.idate.163.com/album/images/cms/20161021/20161021144915821Eqi.png" width="689" height="305" alt="桃花签"></a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>





</body>
</html>